<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @student.state %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @student.ethnicity %>
</p>

<p>
  <strong>Military:</strong>
  <%= @student.military %>
</p>

<p>
  <strong>Academic interests:</strong>
  <%= @student.academic_interests %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @student.gpa %>
</p>

<p>
  <strong>Sat cr score:</strong>
  <%= @student.sat_cr_score %>
</p>

<p>
  <strong>Sat w score:</strong>
  <%= @student.sat_w_score %>
</p>

<p>
  <strong>Sat m score:</strong>
  <%= @student.sat_m_score %>
</p>

<p>
  <strong>Act e score:</strong>
  <%= @student.act_e_score %>
</p>

<p>
  <strong>Act r score:</strong>
  <%= @student.act_r_score %>
</p>

<p>
  <strong>Act m score:</strong>
  <%= @student.act_m_score %>
</p>

<p>
  <strong>Act s score:</strong>
  <%= @student.act_s_score %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
