<br>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Applications</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <% @colleges.each do |college| %>
                        <li><%= college.name %> | $<%= college.app_fee %> | Waiver? <%= bool_to_glyph(college.app_fee_waiver) %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Scholarships</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <% @scholarships.each do |scholarship| %>
                            <li><%= link_to scholarship.name, scholarship.url %> | $<%= scholarship.amount %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">

            <% @colleges.each do |college| %>
                <% if college.name == "New York University" %>
                <div class="panel panel-danger">
                <% else %>
                <div class="panel panel-success">
                <% end %>
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <%= link_to college.name, college %>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-4">
                            <% if college.name == "Macalester College" %>
                            <%= image_tag("macalester.png", :size => "200x200") %>
                            <% elsif college.name == "Carleton College" %>
                            <%= image_tag("carleton.png", :size => "200x200") %>
                            <% else %>
                            <%= image_tag("nyu.png", :size => "200x200") %>
                            <% end %>
                        </div>
                        <div class="col-lg-8">
                            
                            <h3>Tuition: $<%= college.tuition_cost %></h3>
                            <h3>Early Career Pay: $<%= college.early_career_pay %></h3>
                            <h3>Mid Career Pay: $<%= college.mid_career_pay %></h3>

                        </div>
                    </div>
                </div>
            <% end %>
            
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

</div>
