<br>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Applications</h3>
                </div>
                <div class="panel-body">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>School</th>
                                <th>Fee</th>
                                <th>Waiver?</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <% @colleges.each do |college| %>
                            <tr>
                              <td><%= link_to college.name, college %></td>
                              <td>$<%= college.app_fee %></td>
                              <td><%= bool_to_glyph(college.app_fee_waiver) %></td>
                            </tr>
                            <% end %>

                        </tbody>
                    </table> 

                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Scholarships</h3>
                </div>
                <div class="panel-body">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Max Award</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <% @scholarships.each do |scholarship| %>
                            <tr>
                              <td><%= link_to scholarship.name, scholarship.url %></td>
                              <td>$<%= scholarship.amount %></td>
                            </tr>
                            <% end %>

                        </tbody>
                    </table> 

                </div>
            </div>
        </div>
        <div class="col-lg-8">

            <% @colleges.each do |college| %>
                <% if college.name == "New York University" %>
                <div class="panel panel-danger">
                <% else %>
                <div class="panel panel-success">
                <% end %>
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <%= link_to college.name, college %>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-4">
                            <% if college.name == "Macalester College" %>
                            <%= image_tag("macalester.png", :size => "200x200") %>
                            <% elsif college.name == "Carleton College" %>
                            <%= image_tag("carleton.png", :size => "200x200") %>
                            <% else %>
                            <%= image_tag("nyu.png", :size => "200x200") %>
                            <% end %>
                        </div>
                        <div class="col-lg-8">
                            
                            <h3>Tuition:            $<%= college.tuition_cost %></h3>
                            <h3>Early Career Pay:   $<%= college.early_career_pay %></h3>
                            <h3>Mid Career Pay:     $<%= college.mid_career_pay %></h3>

                        </div>
                    </div>
                </div>
            <% end %>
            
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

</div>
